
@{
    ViewBag.Title = "Insert";
}
<div class="container">
    <div class="main-body">
        <div class="row">
                <div class="col-md-12 mt-4 table-body-HinhAnh table-responsive">

                </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 table-body-ThongTinBaiViet table-responsive">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-4 table-body-ThongTinKhachHang table-responsive">

        </div>

    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#codeBank').select2();
            loadHinhAnh();
            loadThongTinBaiViet()
            loadThongTinKhachHang();
        });
       function loadHinhAnh() {
            var Id = $("#Id").val();
            try {
                $.ajax({
                    url: '@Url.Action("hinhAnh_View")',
                    timeout: 2000000,
                    data: {
                        Id: Id
                    },
                    success: function (response) {
                        $('.table-body-HinhAnh').html(response);
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            } catch (e) {
            }
        }
        function loadThongTinBaiViet() {
            var Id = $("#Id").val();
            try {
                $.ajax({
                    url: '@Url.Action("ThongTinBaiViet_View")',
                    timeout: 2000000,
                    data: {
                        Id: Id
                    },
                    success: function (response) {
                        $('.table-body-ThongTinBaiViet').html(response);
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            } catch (e) {
            }
        }
        function loadThongTinKhachHang() {
            var Id = $("#Id").val();
            try {
                $.ajax({
                    url: '@Url.Action("ThongTinKhachHang_View")',
                    timeout: 2000000,
                    data: {
                        Id: Id
                    },
                    success: function (response) {
                        $('.table-body-ThongTinKhachHang').html(response);
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            } catch (e) {
            }
        }
    </script>
}