
<div class="row">
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body info">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="mb-4 ">Thông tin khách hàng</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Thông tin liên hệ</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <input value="" class="form-control" placeholder="Tên khách hàng" type="text" id="tenKh" name="tenKh">
                            </div>
                            <div class="col-lg-6">
                                <input value="" placeholder="Số điện thoại" class="form-control" type="text" id="sdtKh" name="sdtKh">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <input value="" class="form-control" placeholder="Địa chỉ" type="text" id="diachiKh" name="diachiKh">
                            </div>
                            <div class="col-lg-6">
                                <input value="" class="form-control" type="email" placeholder="Email" id="emailKh" name="emailKh">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h6>Thông tin cá nhân</h6>

                            <div class="col-md-12 col-sm-12">
                                <input value="" placeholder="Nhập số CCCD / Chứng minh thư" class="form-control" type="text" id="CCCDKh" name="CCCDKh">
                            </div>

                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="~/Content/images/noImage.png" alt="Admin" class="rounded-circle" width="200">
                    <div class="mt-3">
                        <h4>Khách hàng</h4>
                        <p class="text-secondary mb-1">012689897</p>
                        <p class="text-muted font-size-sm">F4/25K Lại Hùng Cường</p>
                        <p class="text-muted font-size-sm">sinlee349@gmail.com</p>
                        <button class="btn btn-primary" onclick="updateCustomerInfomation()">Cập nhật chi tiết hồ sơ khách hàng </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function updateCustomerInfomation() {
        notify("Hiện tại chức năng này chưa được phát triển")
    }
</script>