
@{
    ViewBag.Title = "Danh sách";
    var data = ViewBag.data as List<ToolsApp.EntityFramework.LogHistory>;
}
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mô tả</th>
            <th>Mô tả chi tiết</th>
            <th>Ngày tạo</th>
            <th>Địa chỉ truy cập</th>
        </tr>
    </thead>    
    <tbody>
        @{
            if (data != null)
            {
                foreach (var item in data)
                {
                    <tr>
                      
                        <td>@item.moTa</td>
                        <td>@Html.Raw(item.moTaChiTiet)</td>
                        <td>@item.ngayTao</td>
                        <td>@item.ipUserHostAddress</td>
                    </tr>
                }
            }
           
        }

        </tbody>
    </table>