<div class="card-body">
    <div class="container-fluid" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1 style="color:red">Chỉ có Manager mới được sử dụng chức năng này</h1>
    </div>
</div>

