
@{
    ViewBag.Title = "View";
    ViewBag.data = ViewBag.data;
}
<div class="col-lg-12" style="margin-left: 10px; background: white; ">
    <div class="row ">
        <div class="col-sm-1">
            <button type="button" id="back" onclick="back()" class="btn btn-sm btn-primary"><i class="fa fa-backward"></i>&nbsp;Quay lại</button>
        </div>
        <div class="col-sm-1">
            <button type="button" id="print" onclick="printDiv('printableArea')" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>&nbsp;In</button>
        </div>
    </div>
</div>
<div class="col-lg-12 mt-3" style="padding:20px; background: white; border:1px solid #ccc;box-sizing:border-box; max-width:100%;word-wrap:break-word">
    <div id="printableArea">
        @Html.Raw(@ViewBag.data)

    </div>
</div>
<script>
    function back() {
        window.history.back();
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).outerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>