
@{
    var user = ViewBag.user as ToolsApp.EntityFramework.AspNetUser;
}
<div class="row" style="margin-bottom:5px">
    <div class="col-md-12 col-sm-4">
        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Tên tài khoản:</label>
            <div class="col-md-12 col-sm-12 ten">
                <input value="@user.UserName" class="form-control" type="text" id="Username" name="Username" />
            </div>
        </div>
        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Mật khẩu mới:</label>
            <div class="col-md-12 col-sm-12 ten">
                <input value="" class="form-control" type="text" id="newPass" name="newPass" />
            </div>
        </div>

    </div>


</div>
