/*Root*/
:root {
    --colorPrimaryNormal: #00b3bb;
    --colorPrimaryDark: #00979f;
    --colorPrimaryGlare: #00cdd7;
    --colorPrimaryHalf: #80d9dd;
    --colorPrimaryQuarter: #bfecee;
    --colorPrimaryEighth: #dff5f7;
    --colorPrimaryPale: #f3f5f7;
    --colorPrimarySeparator: #f3f5f7;
    --colorPrimaryOutline: #dff5f7;
    --colorButtonNormal: #00b3bb;
    --colorButtonHover: #00cdd7;
    --colorLinkNormal: #00979f;
    --colorLinkHover: #00cdd7;
}

/*Sidebar css*/
.layout-fixed .main-sidebar {
    width: 280px;
    scroll-margin-left: 16px;
    background-color: #edf2f9;
}
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused, .sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 280px;
}

    .nav-item p {
    color: #000 !important;
   
    
}
.nav-item i {
    color: #000 ;
}
.nav-link:hover {
    background-color: #dee1e6 !important;
}
.nav-treeview {
    margin-left:10px;
}
.nav-treeview i {
     font-size: 10px;
      margin-right: 3px;
}
.nav-pills .nav-link.active {
    background-color: #dee1e6 !important;
}
.nav-pills .nav-link.active  {
    background-color: #dee1e6 !important;
}
.nav-link.active i {
    color: red;
}
/*end Sidebar css*/

/*header css*/
.main-header {
    height: 37px;
    background-color: #edf2f9 !important;
    color: #000;
    
}
.layout-navbar-fixed .wrapper .main-header {
    padding-left: 24px;
}
#formatNamePage {
    font-size: 14px;
    text-transform: uppercase;
}

.username-header {
    color: black;
}
/*legend header*/
/*content body css*/
.content-wrapper {
    margin-left:280px !important;
}
html.loading {
    background: #333 url(images/ajax-load.gif) no-repeat 50% 50%;
    -webkit-transition: background-color 0;
    transition: background-color 0;
}

    html.loading body {
        opacity: 0.5;
        -webkit-transition: opacity 0;
        transition: opacity 0;
    }

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.5;
    background: url('images/ajax-load.gif') 50% 50% no-repeat rgb(249,249,249);
}

.modal.modal-wide .modal-dialog {
    width: 90% !important;
    max-width: 90% !important;
}

.modal-wide .modal-body {
    /*overflow-y: auto;
    overflow-x: hidden;*/
}

.chosen-container {
    width: 100% !important;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(plugins/choose/chosen-sprite.png) no-repeat 0 8px !important;
}

.chosen-container-single .chosen-single {
    height: 37px !important;
    line-height: 37px !important;
}

.select2 {
    width: 100% !important;
}

.select2-search__field {
    width: 100% !important;
}

.select2-container {
    width: 100% !important;
}

.select2-search {
    width: 100% !important;
}

.select2-search--inline {
    width: 100% !important;
}

@media (max-width: 767.98px) {
    .fix-dropdown {
        left: 97px !important;
        right: inherit;
    }
}

.hide {
    display: none
}
#toastsContainerTopRight{
    z-index:9999;
}

.pagination-container {
    margin-top: -14px!important;
}

.text-danger {
    color:red;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 5px;
    background-color: #f2f9f1
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: center !important;
    background-color: #ede2fa;
    border-radius: 5px;
}
.imgStaff {
    display: flex;
    justify-content: center;
}
/*Custom card bootstrap*/
.card-primary {
   
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.card-primary.card-outline {
    border: none !important;
}



/*ManagerStaff ImageView css*/
.panel {
    margin: 100px auto 40px;
    max-width: 500px;
    text-align: center;
}

.button_outer {
    background: #83ccd3;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

.btn_upload {
    padding: 17px 30px 12px;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}

    .btn_upload input {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        width: 100%;
        height: 105%;
        cursor: pointer;
        opacity: 0;
    }

.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: #ccc;
}

    .file_uploading .btn_upload {
        display: none;
    }

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #83ccd3;
    transition: 3s;
}

.file_uploading .processing_bar {
    width: 100%;
}

.success_box {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}

    .success_box:before {
        content: '';
        display: block;
        width: 12px;
        height: 23px;
        border-bottom: 6px solid #fff;
        border-right: 6px solid #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 20px;
        top: 11px;
    }

.file_uploaded .success_box {
    display: inline-block;
}

.file_uploaded {
    margin-top: 0;
    width: 50px;
    background: #83ccd3;
    height: 50px;
}

.uploaded_file_view {
    max-width: 300px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    transition: .2s;
    opacity: 0;
    border: 2px solid #ddd;
    padding: 15px;
}

.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}

    .file_remove:hover {
        background: #222;
        transition: .2s;
    }

.uploaded_file_view img {
    max-width: 100%;
    margin-top:16px;    
}

.uploaded_file_view.show {
    opacity: 1;
}

.error_msg {
    text-align: center;
    color: #f00
}
.CCCD {
    display: flex;
    border: 1px solid #dddddd;
    position:relative;
}
.CCCD span {
    position: relative;
}
.CCCD span i {
    position:absolute;
    top:10px;
    left:10px;
 
}
/*UserJob css*/
.displayN {
    display: none;
}

.displayIB {
    display: inline-block;
}

.btn-del {
    font-size: 20px;
    padding: 0 5px;
    color: red;
    border: none;
    background-color: transparent;
}

    .btn-del:hover {
        background-color: lightgray;
        cursor: pointer;
 }

    /*modal css*/
.custom-modal-css {
    width:800px
}
.custom-modal-header {
    background-color: #2bbbad;
    color: #fff;
}
.modal-custom-footer {
    justify-content:space-between;
}
.modal-dialog label {
    margin-bottom: 0;
    margin-left: 5px;
}
.ten input {
    border-top: none;
    border-right: none;
    padding-left:10px;
}
.btn-success {
    background-color: #2bbbad !important;
    padding:5px 15px;
    border:none
}
/*search css*/
.card-header {
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));
}

.select_level option:hover {
    background-color:transparent !important;
}
/*select2 css*/
.text-sm .select2-container--default .select2-selection--single, select.form-control-sm ~ .select2-container--default .select2-selection--single {
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), color-stop(100%, #f4f4f4));
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px!important
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 41px !important;
    position: absolute;
    top: 18px;
    right: 5px !important   ;
    width: 20px;
}
/*Fade in CSS*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Đặt z-index cao hơn so với các phần tử khác */
}

.enlarged-image {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
}

.uploaded_file_view {
    cursor: pointer;
}

#showCCCD {
    display: none;
}
/*Information User page*/
.container {
    max-width: 100%
}

.card-body .row {
    min-height: 39px
}

.card-body h6 {
    font-weight: 600
}

.gender-group {
    display: flex;
}
#gender {
    padding: 5px;
    border: 1px solid #e5e5e5;
}

.edit {
    display: none;
}

.btn-edit {
}

.form-button {
    display: none
}

.button-group {
    display: flex;
    justify-content: end
}

.btn-cancel, .btn-save {
    display: none
}

.info .edit {
    display: none
}

.upload {
    position: absolute;
    top: 0;
    left: 0;
}

.upload-btn:hover {
    cursor: pointer
}

.viewCCCD {
    color: blue;
    cursor: pointer;
}
/*End Information CSS*/

/*Pagination*/
.group-pagination {
    display: flex;
    list-style: none;
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 250px 20px 250px;
}

.group-pagination .btn {
        color: #000;
        border: 1px solid #aaa;
        background: -webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
        box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
}

.group-pagination .btn:first-child {
            margin-right: 16px
}
.w-97 {
    width: 97%;
}

.mh {
    max-height: 200px;
    overflow: auto;
}

.menu-drop {
    box-sizing: content-box;
    padding-bottom: 4px;
}

.menu-drop .search {
        position: fixed;
        margin-bottom: 16px;
}

.divider {
    margin-top: 50px;
}

.custom-form-choose {
    min-height: 300px;
}
/*label total equals*/
.total-item {
    border: 1px solid #ced4da;
    color: red;
    margin-left: 8px;
    width: 54px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
}

.total {
    display: flex;
    justify-content: space-between
}

    .total label {
        font-weight: 500 !important;
    }

/*QR tuần tra, TimeKeeping*/
.table-timekeeping td {
    position: relative;
}

.table-timekeeping .searchmap {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 25px;
    color: red;
}

.table-timekeeping .searchJob {
    position: absolute;
    top: 48px;
    right: 5px;
    font-size: 20px;
}

.table-timekeeping .searchJob, .searchmap:hover {
    cursor: pointer
}
/*check image css*/
.avatar {
    width: 300px;
    height: 500px;
    cursor: pointer;
}

.avatar-col {
    justify-content: space-around
}

.fadeinBtn {
    border: none;
    padding: 5px 16px;
}

.responsive {
    width: 100%;
    display: none;
}

.enlarge {
    margin-top: 104px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.8);
    transition: transform 0.3s;
}
/*Report salaries css*/
.c-red {
    color: red;
}

.c-green {
    color: green
}

.c-blue {
    color: blue;
}

.c-darkblue {
    color: darkblue;
}

.f-w {
    font-weight: 600;
}

.table-Salaries th {
    background-color: aquamarine
}
